In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
raw_countries=gpd.read_file('../../World_Countries/countries_border.shp')

In [11]:
raw_countries.head()

  GID_0       NAME_0                                           geometry
0   ABW        Aruba  POLYGON ((-69.97820 12.46986, -69.97847 12.469...
1   AFG  Afghanistan  POLYGON ((68.52644 31.75435, 68.53852 31.75457...
2   AGO       Angola  MULTIPOLYGON (((11.73347 -16.67255, 11.73347 -...
3   AIA     Anguilla  MULTIPOLYGON (((-63.42375 18.58903, -63.42375 ...
4   ALA       Ã…land  MULTIPOLYGON (((21.32195 59.74986, 21.32195 59...

In [6]:
brazil=raw_countries[raw_countries['GID_0']=='BRA']

In [7]:
polinator_brazil=pd.read_csv('fao/polinator_sample.csv')

In [8]:
polinator_brazil.head()

,Ranking,Area,Country,Pollination_adjusted_value,Crop,1992,1993,1994,1995,1996,...,2011,2012,2013,2014,2015,2016,2017,2018,Total,Pollination_adjusted_value.1
0,1st,Brazil,BRA,0.65,Apples,248063,272402,258164,257030,276703,...,351655,346301,321668,372187,352841,308465,392355,361805,8219708,0.65
1,2nd,Brazil,BRA,0.90,"Melons, other (inc.cantaloupes)",74221,77766,75496,95843,85882,...,253531,252484,256982,268203,251226,258139,231195,249305,5078041,0.90
2,3rd,Brazil,BRA,0.90,"Pumpkins, squash and gourds",177164,172794,169156,171656,157536,...,184544,184321,184537,184888,184996,183927,184084,184107,4777010,0.90
3,4th,Brazil,BRA,0.90,Watermelons,58378,65509,62034,96190,71946,...,224997,219797,235109,230087,220868,231194,224119,219740,4590426,0.90
4,5th,Brazil,BRA,0.65,Cucumbers and gherkins,158000,171250,180104,215000,210610,...,203855,203333,205556,206909,206846,206688,207132,207576,5393264,0.65

In [10]:
den=pd.merge(brazil,polinator_brazil,how='inner', left_on='GID_0', right_on='Country')
den.to_file('fao/polinator_brasil.shp',driver='ESRI Shapefile')